.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 1rem 2rem;
  color: var(--text-light);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 100;
}


.navLinks {
  display: flex;
  align-items: center;
  float: right;
  gap: 2rem;
}

.navLinks a {
  color: var(--text-light);
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.navLinks a:hover {
  opacity: 0.8;
}



